
/*Widen sidebar */
#bd #main {width: 70%; padding-left: 10px;}
#bd #sidebar {width: 25%; margin-top: -10px;}
#bd #sidebar #facets.facets {width: 100%;}
#bd #sidebar #facets li {width: 100%;}


/*Recolor background */
body {background-color: #f8f4f0;}

/*Frame the page*/
#page {
	background: #fff; 
	padding-top: 3px;
	border-top: 1px #2E4F81 solid; 
	border-bottom: 1px #2E4F81 solid;  
	-webkit-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.6);
	-moz-box-shadow:    0px 3px 10px rgba(50, 50, 50, 0.6);
	box-shadow:         0px 3px 10px rgba(50, 50, 50, 0.6);
	}
	

/*Add MC logo and append with title */
h1.site_title {
	background-image: url("http://millercenter.org/images/imls-beta/mc-logo.png"); 
	background-repeat: no-repeat; 
	height: 80px; 
	width: 500px; 
	padding-left: 90px;
	padding-top: 5px; 
	font-size: 20px;
	margin-top: 10px; }

h1.site_title:after {content:"Connecting Presidential Collections"; }
h1.site_title a {}

#search {-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0; }

 
#hd {padding: 0;}

div#bd div#main div#main_container {}
div#bd div#main div#main_container blockquote { color: #555; } /*Mission statement.*/

#facets span.selected {color: #000; }

#facets li a.remove {
	color: #000; 
	background: #e2edfe; 
	padding-left: 6px; 
	border: 1px solid #C4DAFE; 
	-webkit-border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px; 
	margin-left: 3px;}
#facets li a.remove:after {content:" x"; padding-right: 6px; }

#hd #user_util_links {margin-top: 0;}



/*These styles apply to the placeholder content on the beta (featured, partner logos, etc.) */

.partner-logo {float:right; margin: 0 25px;}
.featured-item {}
img.featured-item {margin: 0 8px 0 0;padding: 3px; border: 1px solid #C4DAFE;}
#featured a:link, #featured a:visited, #featured a:active {border-bottom: 0;}
.more {font-weight: bold; }
.more a:after {content: " →";}
figure.main-image {float:right; width: 280px; margin: 10px;}
figure.main-image a:link {border-bottom: 0;}
#citation-examples {margin-left: 25px;}


/* Final tweaks, 12/10/12 - Amber*/

	/*stops "You searched for..." from appearing far to the left. */
	#appliedParams .label {margin-top: 0;
	position: static;}
	
	/*By default the dl/dt/dd lists indent the dt but not dd... this edit puts them on the same line.*/
	dl.defList dt {float: left; width: 75px; text-align: right;}
	dl.defList dd {width: 400px;}

div#search a.advanced_search {display:none;}
#imls-logo {float:right;}